---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Programación web creativa y arte digital en el desarrollo de sitios y aplicaciones">
	<main>
		<header>
			<h1><b class="pwcad">PWC:AD</b> <span>Programación web creativa y arte digital en el desarrollo de sitios y aplicaciones</span></h1>
			<p>Grupo de estudio <b><abbr title="Laboratorio de Arte Electrónico e Inteligencia Artificial">LAEIA</abbr></b> / Licenciatura en Artes Electrónicas / UNTREF</p>
		</header>
		<p>
			<b>Programación web creativa y arte digital en el desarrollo de sitios y aplicaciones</b> es un grupo de estudio de la Licenciatura en Artes Electrónicas UNTREF centrado en la exploración de las posibilidades técnicas y artísticas de las tecnologías hipermediales o web. Se propone como un espacio para afianzar los conocimientos en el área a partir de prácticas concretas en el desarrollo de sitios y aplicaciones web, y la realización de cursos y talleres extra-curriculares.
		</p>
		<p>
			La participación en grupos de estudio forma parte de los Trayectos Formativos Alternativos (<b>TFA</b>) de la carrera. Los estudiantes que se involucren podrán obtener los créditos académicos correspondientes a la actividad.
		</p>
		<div class="cta">
			<a
				href="https://docs.google.com/forms/d/e/1FAIpQLSchENXsIeTXGjsVsnH9RqHSmPO3anaaI1JyFtgeD6peYxBlig/viewform?usp=sf_link"
				target="_blank"
			>
				Quiero participar
			</a>
		</div>
		<div class="box">
			<h2 class="box__title">Lugar de trabajo / unidad académica</h2>
			<p>Laboratorio de Arte Electrónico e Inteligencia Artificial (LAEIA), sede Los Aromos UNTREF, primer piso.</p>
		</div>
		<div class="box">
			<h2 class="box__title">Integrantes</h2>
			<dl>
				<dt>Estudiantes Artes Electrónicas:</dt>
				<dd>Roy Eden</dd>
				<dd>Tom Werthein</dd>
				<dd>Martin Reyes</dd>
				<dt>Director:</dt>
				<dd>Lic. Ignacio Guerra</dd>
				<dt>Co-director:</dt>
				<dd>Lic. José Casanova</dd>
			</dl>
		</div>
		<div class="box">
			<h2 class="box__title">Actividades 2024 / 2025</h2>
			<ul>
				<li>FestivAE Web</li>
				<li>Muestra online: Arte e Inteligencia Artificial</li>
			</ul>
		</div>
		<div class="small">
			<h2>Fundamentación</h2>
			<div class="--content">
				<p>
					Las tecnologías web ofrecen grandes perspectivas creativas en el desarrollo de herramientas y obras artísticas digitales, ya que integran poderosos lenguajes de programación con la capacidad de procesar texto, imagen, audio, video o gráficos 2D y 3D. Además, resultan accesibles desde cualquier dispositivo con conexión a Internet y permiten incorporar múltiples desarrollos recientes de Inteligencia Artificial. La creación de sitios o aplicaciones web es una necesidad creciente en muchos proyectos de investigación y diversas áreas de la Universidad para difundir sus actividades u ofrecer servicios online. La programación creativa en el desarrollo web se puede aplicar en la creación de animaciones, efectos visuales, juegos de navegador, experiencias interactivas, visualizaciones de datos y arte generativo, entre otros.
				</p>
				<p>
					El grupo de estudio propone conformar equipos capaces de investigar y afrontar los desafíos técnicos presentes en todos estos escenarios, y establecer dinámicas de intercambio y colaboración con otros estudiantes, docentes, investigadores y diversos actores de la Universidad en proyectos concretos.
				</p>
			</div>
			<h2>Objetivos</h2>
			<ul class="content">
				<li>Conformar un espacio de experimentación técnica y artística en torno al desarrollo de sitios y aplicaciones web.</li>
				<li>Promover la vinculación entre el grupo de estudio y otras áreas de la Universidad o proyectos de investigación para brindar asesoramiento técnico y/o colaboración en sus desarrollos afines.</li>
				<li>Ofrecer a los estudiantes la posibilidad de participar en proyectos concretos, en todas las etapas del desarrollo (planificación, diseño, implementación, pruebas, despliegue y mantenimiento).</li>
				<li>Fomentar la creación de equipos que incorporen los procesos, prácticas, roles y herramientas de trabajo colaborativo habituales en la industria del desarrollo de software.</li>
				<li>Brindar cursos y/o talleres extra-curriculares complementarios a los contenidos de las materias Tecnologías Hipermediales y Seminarios complementarios de programación: Web.</li>
			</ul>
		</div>
		
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-weight: 700;
		font-size: 2.25rem;
	}
	h1, h2, h3 {
		font-weight: 700;
		line-height: 1.125;
	}
	h2 {
		font-size: 1.125rem;
		margin: 2rem 0 0.625rem;
	}
	h1 span {
		display: block;
		font-size: 1.75rem;
		font-weight: 300;
		text-wrap: balance;
	}
	p, li, dt, dd {
		font-size: 1.125rem;
		font-weight: 300;
	}
	dt, dd {
		display: inline;
		margin: 0;
	}
	dt {
		font-weight: 500;
	}
	dt:not(:first-child)::before {
		content: "\A";
		white-space: pre;
	}
	dd + dd::before {
		content: "/ ";
	}
	p {
		margin: 0.625rem 0 1.5rem;
	}
	b, strong {
		font-weight: 700;
	}

	header {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 2.5rem;
	}
	header p {
		font-size: 0.875rem;
		font-weight: 300;
		text-align: right;
		margin-bottom: 2.5rem;
	}
	.cta {
		padding: 0.625rem 0;
		background-color: rgb(var(--white));
		position: sticky;
		top: 0;
	}
	.cta a {
		display: block;
		border: 1px solid rgb(var(--black));
		padding: 0.75rem 2rem;
		font-size: 1.25rem;
		text-align: center;
		text-decoration: none;
		/* text-transform: uppercase; */
		letter-spacing: 0.05em;
		font-weight: 700;
		background-color: rgb(var(--black));
		color: rgb(var(--white));
		border-radius: 0.25rem;
	}
	.cta a:hover {
		background-color: rgba(var(--black),0.8);
	}
	.box {
		background-color: rgb(var(--white));
		border: 1px solid rgb(var(--black));
		border-radius: 0.25rem;
		padding: 0.5rem 2rem;
		margin: 2rem 0 1rem;
	}
	.box__title {
		margin-top: -1rem;
		margin-bottom: 1.5rem;
		background-color: rgb(var(--white));
		width: max-content;
		padding: 0 0.5rem;
	}
	.small {
		margin-top: 2.5rem;
		padding-top: 1rem;
		border-top: 3px solid rgb(var(--black));
	}
	.small .content {
		columns: 2;
	}
	.small h2 {
		font-size: 1rem;
		margin: 1.5rem 0 0.625rem;
	}
	.small p, .small li {
		font-size: 0.875rem;
	}
</style>
